.isolatedSidebar
{
  height: 100%;
  background-color: var(--second-color--);
  width: 340px;
  border-radius: 0px 8px 8px 0px;
  /* transition: width 0.3s ease-in; */
  align-items: start;
  justify-content: space-between;
  display: flex;
  flex-flow: column nowrap;
  padding: 60px 30px;
  anchor-name: --collapse-bttn-anchor;
  position: relative;
}

.collapseToggle
{
position: absolute;
  top: anchor(0px);
  position-anchor: --collapse-bttn-anchor;
  top: 120px;
  right: -14px;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 6px;
  opacity: 1;
  box-shadow: 0px 0px 4px 0px #0000004D;
}

.collapseToggle:hover
{
  border: none;
  outline: none;
  cursor: pointer;
}

.collapsed
{
  width: 102px;
}

.isolatedSidebar p, .isolatedSidebar a
{
  color: var(--main-color--);
}

.noUnderline
{
  text-decoration: none;
  color: var(--main-color--);
}

.sidebarFooter
{
  color: white;
  margin-left: auto;
}

h2
{
  font-size: 20px;
  margin-bottom: 14px;
}

.sidebarMenu{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 85%;
}

.sidebarHeader
{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;

}

.icon {
  width: 40px;
  height: 40px;
  border: none;
  background: white;
  border-radius: 50%;
}

.sidebarTitle {
  color: white;
  font-family: 'inter';
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

}

.navigation
{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 45px 0px 0px 5px;
}

.navigation a span
{
  font-family: 'inter';
font-weight: 400;
font-style: Regular;
font-size: 20px;
/* line-height: 100%; */
letter-spacing: 0%;
}


.navigation a
{
  margin-bottom: 30px;
  height: fit-content;
  background-repeat: no-repeat;
  /* padding-left: calc(40px + 20px); */
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  gap: 30px;
  /* position: relative; */
  anchor-name: --navigations;
}

.indicator
{
  height: 25px;
  width: 5px;
  background-color: white;
  opacity: 0%;
  position: absolute;
  left: 0px;
  border-radius: 0px 2px 2px 0px;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.sidebarLabel{
  opacity: 0.6;
}

.activeText
{
  opacity: 1;
  color: var(--main-color--);
}


[key="Home"]
{
  background-image: url(../../assets/icons/sidebar/home.svg);
}

/* icon mapping */
.sidebarMenu .sidebarItem:nth-child(1) .itemIcons { background-image: url("../../assets/icons/sidebar/home.svg"); }
.sidebarMenu .sidebarItem:nth-child(2) .itemIcons { background-image: url("../../assets/icons/sidebar/catalog.svg"); }
.sidebarMenu .sidebarItem:nth-child(3) .itemIcons { background-image: url("../../assets/icons/sidebar/inventory.svg"); }
.sidebarMenu .sidebarItem:nth-child(4) .itemIcons { background-image: url("../../assets/icons/sidebar/orders.svg"); }
.sidebarMenu .sidebarItem:nth-child(5) .itemIcons { background-image: url("../../assets/icons/sidebar/shipping.svg"); }
.sidebarMenu .sidebarItem:nth-child(6) .itemIcons { background-image: url("../../assets/icons/sidebar/cl_payment.svg"); }
.sidebarMenu .sidebarItem:nth-child(7) .itemIcons { background-image: url("../../assets/icons/sidebar/stats.svg"); }
.sidebarMenu .sidebarItem:nth-child(8) .itemIcons { background-image: url("../../assets/icons/sidebar/settings.svg"); }


/* icon mapping */
.sidebarMenu .sidebarItem:nth-child(1) .acitveItemIcons { background-image: url("../../assets/icons/sidebar/home-active.svg"); }
.sidebarMenu .sidebarItem:nth-child(2) .acitveItemIcons { background-image: url("../../assets/icons/sidebar/catalog-active.svg"); }
.sidebarMenu .sidebarItem:nth-child(3) .acitveItemIcons { background-image: url("../../assets/icons/sidebar/inventory-active.svg"); }
.sidebarMenu .sidebarItem:nth-child(4) .acitveItemIcons { background-image: url("../../assets/icons/sidebar/orders-active.svg"); }
.sidebarMenu .sidebarItem:nth-child(5) .acitveItemIcons { background-image: url("../../assets/icons/sidebar/shipping-active.svg"); }
.sidebarMenu .sidebarItem:nth-child(6) .acitveItemIcons { background-image: url("../../assets/icons/sidebar/payment-active.svg"); }
.sidebarMenu .sidebarItem:nth-child(7) .acitveItemIcons { background-image: url("../../assets/icons/sidebar/stats-active.svg"); }
.sidebarMenu .sidebarItem:nth-child(8) .acitveItemIcons { background-image: url("../../assets/icons/sidebar/settings-active.svg"); }



.itemIcons
{
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.activeIndicator
{
  background-color: white;
  height: 50px;
  opacity: 1;
}

.inactiveIndicator
{
  background-color: white;
  opacity: 0;
  height: 0px;
}

.sidebarFooterContainer{
  min-height: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarFooterIcon{
  background-image: url(/src/assets/icons/sidebar/apple-touch-icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: contain;
  border: 1px solid var(--main-color--);
  border-radius: 50%;
  background-size: 55%;
  background-position: center;
}