.top{
    background-color: white;
    /* border: 1px solid black; */
    padding: 2.5rem 2rem;
    box-shadow: 0px 4px 8px 0px #00000040;
    border-left: 1px solid #000000;
}

.heading{
    margin-bottom: 10px;
    font-weight: 600;
}


.guidline{
    margin-top: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
}

.guidlineTag{
    color: #c25a00;
    background: #fff3e0;
    border: 1px solid orange;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
}

.guidlineText{
    font-size: 0.85em;
}