/* Base utilities */
.pageContent {
  margin-left: 330px;
  min-height: 100vh;
  padding: 24px;
  background-color: #FFFF;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(3, 273px);
  grid-auto-rows: 149px;
  gap: 24px;
  box-sizing: border-box;
}

.flexBox {
  display: flex;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Shared containers */
.subContainer {
  background-color: #FFFF;
  box-shadow:  0px 4px 8px 0px #00000040;
}

/* Overview */
.overview {
  grid-column: 1 / -1;
  height: 135px;
  width: 1011px;
  padding: 28px 20px 0 30px;

  display: flex;
  flex-direction: column;
}

.overviewTitle {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
}

.overviewSubtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  color: #3A3D40;
}

/* Small cards */
.smallBox {
  width: 273px;
  height: 149px;

  display: flex;
  flex-direction: column;

  padding: 16px 20px 20px;
}

.cardTitle {
  display: flex;
  align-items: center;
  width: 100%;

  font-size: 13px;
  font-weight: 400;
  color: #000000;

  padding: 0 4px;
}

.cardTitle::before,
.cardTitle::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

.cardTitle::before {
  width: 20px;
  height: 20px;
  margin-left: -5px;
  margin-right: 18px;
  background-image: url("../../assets/icons/homepage/icon.svg");
}

.cardTitle::after {
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: -16px;
  background-image: url("../../assets/icons/homepage/options.svg");
}

.cardUnderline {
  width: 273px;
  height: 0.5px;
  background-color: #000000;
  margin: 10px 0 20px -20px;
}

.cardValue {
  position: relative;
  margin: 0;
  padding-bottom: 22px;

  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

/*Card Meta */

.cardBox {
  position: absolute;
  left: -5px;
  bottom: -20px;

  width: 54px;
  height: 17px;

  background-color: transparent;
  border: 1px solid #8af5be;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* Backend data container marker */
.backendBox {
  outline: 1px dashed rgba(255, 200, 0, 0.9);
  outline-offset: 2px;
  cursor: help;
}


.cardMetaText {
  position: absolute;
  left: calc(-5px + 54px + 6px);
  bottom: -20px;

  height: 17px;
  display: flex;
  align-items: center;

  font-size: 10px;
  font-weight: 400;
  color: #3A3D40;

  white-space: nowrap;
}

/* Large Sections*/

.businessInsights {
  grid-column: 1 / -1;
  height: 140px;
  width: 570px;
}

.bestSeller {
  width: 420px;
  height: 487px;

 background-color: #FFFF;
  box-shadow:  0px 4px 8px 0px #00000040;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

/* temp Backend data placeholder remove after connecting backend */
.backendPlaceholder {
  background-color: rgba(255, 200, 0, 0.25);
  padding: 2px 6px;
  border-radius: 4px;
}
