.root {
  margin: 0rem auto;
}

.heading {
  font-family: 'inter-semi-bold';
}

.loginPage {
  display: flex;
  height: 100svh;
}

.subtitle {
  font-family: 'nunito-sans';
  font-size: 2rem;
  color: #000000cc;
}

.loginWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: end;
  min-width: 300px;
  /* height: 30rem; */
  max-width: 100vw;
  width: 50rem;
  box-sizing: border-box;
  margin: auto;
}

.loginWrapperItem {
  width: 45%;
  height: 100%;
  margin: 0rem auto;
}

.loginContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 0rem;
  height: fit-content;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 0.5em;
  margin: 2rem auto;
}

/* .input {
  border: none;
  box-shadow: 0px 0px 4px 0px #00000080;
} */

.submitBtn {
  width: 6rem;
  height: 4rem;
  border-radius: 20px;
  background-image: url('../../assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--second-color--);
  border: none;
}

.formFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blueStyleContainer {
  background-color: var(--second-color--);
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
