#root{
  margin: 0rem auto;
}

h1{
  font-family: 'inter-semi-bold';
}

.login-page{
  display: flex;
  height: 100svh;
}

.login-content .subtitle{
  font-family: 'nunito-sans';
  font-size: 2rem;
  color: #000000CC;
}

.login-wrapper{
  /* border: 1px solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: end;
  min-width: 300px;
  height: 30rem;
  max-width: 100vw;
  width: 50rem;
  box-sizing: border-box;
  margin: auto;
}

.login-wrapper-item{
width: 45%;
  height: 100%;
  margin: 0rem auto;
}

.login-content{
 display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 0rem 0rem;
  height: fit-content;
}

.login-wrapper form{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 0.5em;
  margin: 2rem auto;
}

#login-form input{
  /* padding-left: 1rem;
  line-height: 2.5rem; */
  border: none;
  box-shadow: 0px 0px 4px 0px #00000080;
}

.submit-btn{
  width: 6rem;
  height: 4rem;
  opacity: 1;
  border-radius: 20px;
  background-image: url(../../assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--second-color--);
  border: none;
}


.form-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blue-style-container{
  background-color: var(--second-color--);
    width: 100%;
    height: 100%;
    border-radius: 30px;
}