* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    height: 100svh;
    box-sizing: border-box;
} */

.registerContainer{
    height: 100svh;
  display: flex;
}

.container {
    background-color: #ffffff;
    width: 53rem;
  max-width: 100svh;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    height: fit-content;
    margin: auto;
}


.section {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 25px;
    background-color: #fff;
}

.section-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #333;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.formGroup {
    flex: 1;
}

.halfWidth {
    max-width: calc(50% - 10px);
}

input, .item {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 14px;
    color: #555;
    outline: none;
    transition: border 0.3s;
}

.item{
    width: 100%;
  height: 100%;
  padding-left: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.backLink {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    background-color: none;
    border: none;
    background: none;
}


.nextBtn:hover {
    background-color: #222;
}

.proceedButton{
    margin-left: 68%;
}

.selfPOC{
    width: fit-content;
    margin-right: 10px;
    outline: none;
    border: none;
}

.selfPOC:focus{
    outline: none;
    border: none;
}

.selectPOC{
    margin: 14px 0px;
}

.description{
    font-size: 12px;
  color: #626262;
  margin: 1rem auto;

}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
    .halfWidth {
        max-width: 100%;
    }
}

@media(max-width: 790px){
    #root{
        width: 100%;
    }

    .container{
        width: 100vw;
    }
}