.isolated-sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 300px;            
  height: 100vh;

  background: #000000;
  border-radius: 0px 20px 20px 0px;

  box-sizing: border-box;
  z-index: 10000;
}

.isolated-sidebar::after {
  content: "";
  position: absolute;

  top: -80px;
  left: 190px;

  width: 169px;
  height: 187px;

  background-image: url("../../assets/login_stars.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  pointer-events: none; 
}

.sidebar-header {
  position: absolute;
  top: 40px;
  left: 18px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-header::before {
  content: "";
  width: 50px;
  height: 50px;

  background-image: url("../../assets/icons/styleMyntra.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  flex-shrink: 0;
}


.sidebar-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: #FFFFFF;
}




.sidebar-home,
.sidebar-support {
  position: absolute;
  top: 130px;

  width: 110px;
  height: 44px;

  background: #808080;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;

  color: #FFFFFF;
  cursor: pointer;
}

.sidebar-home {
  position: absolute;
  top: 150px;
  left: 28px;

  width: 110px;
  height: 44px;

  background-color: #808080;
  background-image: url("../../assets/icons/home.svg");
  background-repeat: no-repeat;
  background-position: 14px 45%;
  background-size: 18px 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 32px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;

  color: #FFFFFF;
  cursor: pointer;
}

.sidebar-support {
  position: absolute;
  top: 150px;
  left: 140px;

  width: 110px;
  height: 44px;

  background-color: #808080;
  background-image: url("../../assets/icons/support.svg");
  background-repeat: no-repeat;
  background-position: 14px 45%;
  background-size: 18px 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 32px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;

  color: #FFFFFF;
  cursor: pointer;
}

.sidebar-underline {
  position: absolute;
  top: 220px;
  left: 28px;

  width: 220px;
  height: 5px;
  border-radius: 2px;
  background: #FFFFFF;
}


.sidebar-menu {
  position: absolute;
  top: 240px;
  left: 28px;

  display: flex;
  flex-direction: column;
  gap: 22px;
}




.sidebar-item {
  width: 220px;
  margin: 0 auto;          

  display: grid;
  grid-template-columns: 0.9fr auto;
  align-items: center;

  column-gap: 2px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;

  color: #FFFFFF;
  cursor: pointer;
}
/* 1. Catalog */
.sidebar-menu .sidebar-item:nth-child(1) {
  background-image: url("../../assets/icons/catalog.svg");
}

/* 2. Inventory */
.sidebar-menu .sidebar-item:nth-child(2) {
  background-image: url("../../assets/icons/inventory.svg");
}

/* 3. Order */
.sidebar-menu .sidebar-item:nth-child(3) {
  background-image: url("../../assets/icons/order.svg");
}

/* 4. Shipping */
.sidebar-menu .sidebar-item:nth-child(4) {
  background-image: url("../../assets/icons/shipping.svg");
}
/* 5. Payments */
.sidebar-menu .sidebar-item:nth-child(5) {
  background-image: url("../../assets/icons/payment.svg");
}

/* 6. Stats */
.sidebar-menu .sidebar-item:nth-child(6) {
  background-image: url("../../assets/icons/stats.svg");
}

/* 7. Settings */
.sidebar-menu .sidebar-item:nth-child(7) {
  background-image: url("../../assets/icons/settings.svg");
}

/* 8. Logout */
.sidebar-menu .sidebar-item:nth-child(8) {
  background-image: url("../../assets/icons/logout.svg");
}
.sidebar-menu .sidebar-item {
  background-repeat: no-repeat;
  background-position: 16px 45%;
  background-size: 16px 16px;

  padding-left: 44px;
}



.sidebar-label {
  display: flex;
  align-items: center;
  justify-self: start;   
  white-space: nowrap;
}



.sidebar-arrow {
  width: 30px;
  height: 30px;

  background-image: url("../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  font-size: 0;        
  line-height: 0;
}



.sidebar-footer {
  position: absolute;
  bottom: 24px;
  right: 28px;     
  left: auto;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;

  color: #FFFFFF;
  opacity: 0.7;

  text-align: right;
}
