h1{
  font-size: 2.5rem;
}

button:active{
  opacity: 80%;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color--: #ffff;
    --second-color--: #0000;

    font-style: inter;
  }

  button:hover {
    outline: 1px solid black;
  }
}
